/*Estilos de formularios de registro y actualización de repuestos*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}

h2{
    color: #000000;
}

/*Estilos de formulario*/
.frm-container{
    background-color: #ffffff;
    max-width: 35rem;
    width: 100%;
    color: #000000;
    padding: 2rem;
    margin: 18px auto;
    box-shadow: 4px 4px 4px 4px #5d5c5c82;
    border-radius: 50px;
}

.frm-input{
    width: 100%;
    min-height: 2.5rem;
    padding: 0 1rem;
    margin-top: 1rem;
    border-radius: 50px;
    background-color: #e5e5e5;
}

.frm-input:focus{
    outline: none;
    border-color: #ffb300;
    border-width: 3px;
    border-style: solid;
}

    input[type=file] {
        width: 100%;
        min-height: 2.5rem;
        color: #444;
        padding: 5px;
        background: #e5e5e5;
        border-radius: 50px;
    }

    input[type=file]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #545454;
        padding: 0 1rem;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
    }
  
    input[type=file]::file-selector-button:hover {
        background: #ffb300;
    }


.logo-form{
    width: 150px;
}

.btn-enviar{
    background: linear-gradient(#ffd900, #ffea00b9);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #000000;
    font-weight: bold;
    width: 100%;
}

.btn-enviar:hover{
    background: linear-gradient(#ffea00b9, #ffd900);
}

.msn-error{
    font-size: 15px;
    color: #ff0000;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
}

.form-group{
    margin: 0.5rem 0;
}

label{
    font-weight: 500;
}

.form-group-input{
    position: relative;
}

.frm-icono{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    color:#ffb300;
    z-index: 100;
}

.success .frm-icono{
    color: #1f8d00;
}

.success .frm-input:focus{
    outline: none;
    border-color: #1f8d00;
    border-width: 3px;
    border-style: solid;
}

.error .frm-icono{
    color: #ff0000;
}

.error .frm-input:focus{
    outline: none;
    border-color: #ff0000;
    border-width: 3px;
    border-style: solid;
}

.msn-error-visible{
    visibility: visible;
    opacity: 1;
}